<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewpoint" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootsrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<br><br><br>
	<%= form_tag(controller: "directories", action: "display", :method => "post", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Mentors" %>
	<%= submit_tag "Search" %>
	<% end %>
</body>
</html>