<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @message_board.index %>
</p>

<%= link_to 'Edit', edit_message_board_path(@message_board) %> |
<%= link_to 'Back', message_boards_path %>
