<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewpoint" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootsrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="userInfo">
<% provide(:title, @user.name) %>
<%= @user.name %>, <%= @user.email%>

<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
</body>
</html>