/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Header */

.nav.navbar-nav.navbar-left li a{
	color: #fed85e;
	margin-top: 1em;
	font-size: 18px;
	font-family: "Avenir";
	text-align: center;

}

.nav.navbar-nav.navbar-left li a:hover{
	color: #727171;
}

.style_image{
	margin-left: 0%;
}

.navbar{
	background-color: #252525;
	color: #fed85e;
	text-align: center;
}

.text-center{
	padding-top: .5em;
	background-color: #252525;
	padding-bottom: 1.5em;
	margin-left: -20px !important;
}

.container{
	text-align: center;
}

.footer{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2rem;
	font-size: 16px;
	list-style: none;
	text-align: center;
	color: #fed85e;
	background-color: #252525;
}

/*.footer{
	padding: 2em;
	font-size: 16px;
	background-color: #000000;
}

.footer{
	float: left;
	font-size: 12px;
	font-family: "Avenir";
	color: #FFFFFF;
	margin-right: 7em;
	border-right: solid;
	border-left: solid;
	border-right-width: 1px;
	padding-left: 5em;
	border-left-width: 1px;
	padding-right: 5em;
}
*/