// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pageTitle{
	padding-top:2.5em;
}

.welcomeMessage{
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-style:solid;
	font-size:1.2em;
	line-height: 1.5em;
}

.image1{
	float:left;
}

.image3{
	float:right;
}
