// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userInfo{
	padding-top: 6em;
	bottom-margin: 5em;
}

.userForm{
	padding-top: 6em;
	padding-bottom: 3em;
}